@import 'bootstrap';

.nav-item {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

select {
  height: 2.4em;
}
#map {
  height: 600px;
  width: 100%;
}

.unread {
  font-weight: bold;
  background-color: #bbb;
}
